* {
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 40px;
}

header {
    background-color: #5e6366;
    color: white;
    padding: 20px;
    text-align: center;
}

fieldset {
  width: 260px;
  padding: 5px 10px 10px 10px;
  border: 2px solid #444;
  border-radius: 8px;
  transition: 0.2s ease;
}

legend {
  padding: 0 2px;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
}

button {
  width: 100%;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.5px;
  border-radius: 6px;
  transition: all 0.15s ease-in-out;
}

// button styles when the button is in the "off" state.
button.off {
  color: #062b30;
}

button:hover {
  filter: brightness(0.90);
}

button.pressed {
color: #2e0616;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.35);
  transform: translateY(2px);
}